# UTS Machine Learning

**Anggota Kelompok 2:** \
2105551068 - Ni Made Deni Sikiandani \
2105551122 - Mananda Davar Sinaga \
2105551126 - I Nyoman Yodya Mahesa Sastra

## Import Library
Pada tahap ini kita import library-library yang diperlukan oleh program

In [2]:
# Digunakan untuk membaca dan memanipulasi data
import pandas as pd
# Digunakan untuk memanipulasi array
import numpy as np
# Digunakan untuk memvisualisasikan data
import matplotlib.pyplot as plt
# Digunakan untuk visualisasi data
import seaborn as sns

## Load Data
Pada tahap ini kita load dataset yang telah didownload dari Kaggle

In [5]:
dataset_train = pd.read_csv('dataset/train.csv')
dataset_test = pd.read_csv('dataset/test.csv')
df_train = dataset_train.copy()
df_test = dataset_test.copy()

## Detail Data
Pada tahap ini kita melihat terlebih dahulu detail-detail pada dataset

In [6]:
# Melihat detail dataset df_train
df_train

,id,umur,indeks_masa_badan,jenis_makanan,penyakit_khusus,penyakit_keturunan,lokasi_tinggal,mengatur_pola_makan,olahraga,jam_tidur_teratur,merokok,minum_alkohol,mengkonsumsi_suplemen,memperhatikan_kesehatan_mental,bersosialisasi,jumlah_sakit_setahun_terakhir,sehat
0,13777,51,29.45,jenis4,41,tidak ada,perkotaan,ya,tidak,ya,ya,tidak,tidak,tidak,tidak,2.0,tidak
1,17804,18,22.22,jenis2 jenis5,36,tidak ada,pedesaan,ya,tidak,tidak,tidak,tidak,tidak,tidak,ya,2.0,ya
2,2476,55,23.43,jenis3 jenis5,12,tidak ada,perkotaan,ya,ya,ya,tidak,ya,tidak,tidak,tidak,4.0,ya
3,18360,30,21.88,jenis3,40,tidak ada,perkotaan,ya,tidak,tidak,tidak,tidak,tidak,tidak,tidak,1.0,ya
4,17530,35,17.25,jenis6,33,tidak ada,pedesaan,ya,tidak,tidak,ya,tidak,ya,tidak,ya,3.0,tidak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19944,4821,26,21.37,jenis6,43,tidak ada,perkotaan,ya,tidak,tidak,tidak,tidak,tidak,tidak,tidak,1.0,ya
19945,21429,35,22.05,jenis5,28,tidak ada,perkotaan,ya,tidak,tidak,ya,tidak,tidak,tidak,ya,2.0,tidak
19946,18601,22,21.44,jenis6,49,tidak ada,pedesaan,ya,ya,tidak,ya,tidak,tidak,tidak,tidak,2.0,ya
19947,2067,13,21.66,jenis2 jenis3,12,tidak ada,pedesaan,ya,tidak,tidak,ya,tidak,tidak,tidak,tidak,1.0,ya
19948,13485,40,26.28,jenis5,8,tidak ada,pedesaan,ya,tidak,ya,tidak,tidak,tidak,tidak,tidak,2.0,ya

In [8]:
# Melihat detail dataset df_test
df_test

,id,umur,indeks_masa_badan,jenis_makanan,penyakit_khusus,penyakit_keturunan,lokasi_tinggal,mengatur_pola_makan,olahraga,jam_tidur_teratur,merokok,minum_alkohol,mengkonsumsi_suplemen,memperhatikan_kesehatan_mental,bersosialisasi,jumlah_sakit_setahun_terakhir
0,6774,5,18.03,jenis3 jenis4,26,tidak ada,pedesaan,ya,tidak,tidak,tidak,tidak,tidak,tidak,tidak,1.0
1,8117,34,28.07,jenis6,46,tidak ada,perkotaan,ya,tidak,tidak,ya,tidak,tidak,tidak,tidak,1.0
2,24780,52,23.71,jenis4,34,tidak ada,perkotaan,ya,tidak,tidak,ya,tidak,tidak,tidak,tidak,1.0
3,8532,16,22.93,jenis2,26,tidak ada,pedesaan,ya,ya,tidak,ya,tidak,tidak,tidak,ya,3.0
4,9139,3,29.44,jenis3,31,tidak ada,perkotaan,ya,tidak,tidak,tidak,tidak,tidak,tidak,tidak,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4983,9040,60,18.57,jenis6,15,tidak ada,pedesaan,tidak,ya,tidak,ya,tidak,tidak,tidak,tidak,1.0
4984,19022,64,29.18,jenis1,35,tidak ada,pedesaan,ya,tidak,ya,tidak,tidak,tidak,tidak,tidak,2.0
4985,2981,46,24.02,jenis2,25,tidak ada,perkotaan,ya,tidak,tidak,tidak,tidak,ya,tidak,ya,3.0
4986,15814,38,29.51,jenis3,11,tidak ada,pedesaan,ya,tidak,tidak,ya,tidak,tidak,tidak,tidak,1.0
4987,19476,10,23.87,jenis2 jenis4,50,tidak ada,perkotaan,ya,tidak,tidak,tidak,tidak,tidak,tidak,tidak,1.0

## Clean Data
Pada tahap ini kita melakukan cleaning pada DataFrame df_train dan juga df_test

## Pembuatan Model
Pada tahap ini kita membuat model dari data yang telah kita clean sebelumnya